{% extends 'base.html' %}
 
{% block body %}
    <header>
        <div class="app-bar">
            <a class="app-bar-element" href="/home/mis_datos">Datos Personales</a>
            <span class="app-bar-divider"></span>
            <ul class="app-bar-menu">
                <li><a href="liquidaciones">Mis Liquidaciones</a></li>
                <span class="app-bar-divider"></span>
                <li><a href="antiguedad">Mis Certificados</a></li>
            </ul>
            <span class="app-bar-divider"></span>
            <div class="app-bar-element place-right">
                <a class="fg-white" href="{% url 'logout' %}">
                    <span class="mif-exit"></span> Salir
                </a>
                    
            </div>
        </div>
    </header>


    {% block seccion %}
    {% endblock %}

{% endblock %}
