{% extends 'base.html' %}
 
{% block body %}
 
    <header>
        <div class="app-bar">
            <a class="app-bar-element" href="home/mis_datos">Mis datos</a>
            <span class="app-bar-divider"></span>
            <a class="app-bar-element" href="home/liquidaciones">Mis Liquidaciones</a>
            <span class="app-bar-divider"></span>
            <ul class="app-bar-menu">
                <li><a href=""></a></li>
            </ul>
            <div class="app-bar-element place-right">
                <a class="fg-white" href="{% url 'logout' %}">
                    <span class="mif-exit"></span> Salir
                </a>
                    
            </div>
        </div>
    </header>

    Bienvenido {{ user.first_name }}&nbsp{{ user.last_name }}

    {% block seccion %}
    {% endblock %}
 




 
{% endblock %}
