{% extends 'base.html' %}
 
{% block body %}
 
    <header>
        <div class="app-bar">
            <a class="app-bar-element" href="#">Redtel</a>
            <span class="app-bar-divider"></span>
            <ul class="app-bar-menu">
                <li><a href="">Bienvenido {{ user.username }}</a></li>
            </ul>
            <div class="app-bar-element place-right">
                <a class="fg-white" href="{% url 'logout' %}">
                    <span class="mif-exit"></span> Salir
                </a>
                    
            </div>
        </div>
    </header>
    <table>
 
        <tr>
            <td>Tu correo registrado es:</td>
            <td>{{ user.email }}</td>
        </tr>
 
        <tr>
            <td>{{ user.first_name.label_tag }}</td>
            <td>{{ user.first_name }}</td>
        </tr>
 
        <tr>
            <td>{{ user.last_name.label_tag }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
 
        <tr>
            <td>ingresado con fecha</td>
            <td>{{ user.date_joined }}</td>
        </tr>
 
        <tr>
            <td>Ultimo ingreso al sistema</td>
            <td>{{ user.last_login }}</td>
        </tr>
 
    </table>
 
    <a href="{% url 'logout' %}">Salir</a>
 
 
{% endblock %}
