{% extends 'home.html' %}
{% load static %}
{% block title %}Mis Datos{% endblock %}
 
{% block seccion %}



<div class='container'>
	<table class='table'>
		<tr>
			<td>email:</td>
			<td>{{ user.email }}</td>
			<td></td>
		</tr>
		<tr>
			<td>rut:</td>
			<td>{{ usuario.rut }}</td>
			<td></td>
		</tr>
		<tr>
			<td>Fecha ingreso:</td>
			<td>{{ usuario.fecha_ingreso }}</td>
			<td></td>
		</tr>
		<tr>
			<td>Vencimiento licencia de conducir:</td>
			<td>{{ usuario.vencimiento_licencia_conducir }}</td>
			<td></td>
		</tr>
	</table>
	<a href="obtener_certificado"><h3>Obtener Certificado de antigüedad</h3></a>
</div>


{% endblock %}