{% extends 'home.html' %}
{% load static %}
{% block title %}Mis Liquidaciones{% endblock %}
  

{% block seccion %}


{% if liquidaciones %}
<div class="example" data-text="example">
    <table id="example_table" class="dataTable striped border bordered" data-role="datatable" data-searching="true">
        <thead>
            <tr>
                    <th>Sueldo Base</th>
                    <th>Gratificacion</th>
                    <th>Anticipo</th>
                    <th>Afp</th>
                    <th>Isapre</th>
                    <th>Sueldo Líquido</th>
                    <th>Mes</th>
                    <th>Año</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                    <th>Sueldo Base</th>
                    <th>Gratificacion</th>
                    <th>Anticipo</th>
                    <th>Afp</th>
                    <th>Isapre</th>
                    <th>Sueldo Líquido</th>
                    <th>Mes</th>
                    <th>Año</th>
            </tr>
        </tfoot>
        <tbody>
        {% for liquidacion in liquidaciones %}  
            <tr>
                    <td>${{ liquidacion.sueldo }}</td>
                    <td>${{ liquidacion.gratificacion }}</td>
                    <td>${{ liquidacion.anticipo }}</td>
                    <td>${{ liquidacion.afp }}</td>
                    <td>${{ liquidacion.salud }}</td>
                    <td>{{ liquidacion.mes }}</td>
                    <td>{{ liquidacion.ano }}</td>
                    <td><button class="button primary" value="imprimir"><a href="imprimir_liquidacion/{{ liquidacion.id }}">Descargar</a></button></td>
            </tr>
{% endfor %}
</table>
</div>
{% endif %}


{% endblock %}